<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>View Blogs</title>
</head>
<body>
<p>
    <a th:href="@{/blogs}">Back to list</a>
</p>
<div>
    <table border="1px soild black">
        <thead>
        <tr>
            <th>Id</th>
            <th>Title</th>
            <th>Content</th>
            <th>Create At</th>
            <th>Update At</th>
        </tr>
        </thead>
        <tr th:object="${blog}">
            <td th:text="*{id}"></td>
            <td th:text="*{title}"></td>
            <td th:text="*{content}"></td>
            <td th:text="*{createdAt}"></td>
            <td th:text="*{updatedAt}"></td>
        </tr>
    </table>
</div>
</body>
</html>